@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=VT323&display=swap');

body{
    display: flex;
    background-color: #161b22;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 25px;
}

.index-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    gap: 20px
}

.index-container__titulo{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: #c9d1d9;
}

.index-container__subtitulo{
    display: flex;
    margin: 0;
}

img {
    width: 38px;
    height: 38px;
}

.index-button-container{
    display: flex;
    gap: 30px
}

.index-button{
    border-radius: 32px;
    width: 90px;
    height: 25px;
    box-shadow: 0 0px 2px rgb(255, 255, 255);
}

.exercicios-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 400px
}

.label-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    width: 400;
    height: 400;
    gap: 70px

}

input[type="number"]{
   border-radius: 20px;
}
