@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=VT323&display=swap');

body{
    background-image: radial-gradient(circle, #764ba2, #7657b4, #7364c6, #6e71d8, #667eea);
    color: #ffffff;
    height: 100vh;

    background-position: center;
    background-size: cover;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #231f66;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
    margin: 10px 0;
    width: 44%;
    height: 40px;
    margin: 5px 0;
}
.button:hover {
    background-color: #2f2c68;
}
section {
    margin: 40px 0;
}

form{
    color: #ffffff;
}

.button-container {
    display: flex;
    justify-content: center; /* Alinha os botões horizontalmente ao centro */
    gap: 10px; /* Espaço entre os botões */
}
.button-container button {
    padding: 10px 20px; /* Espaçamento interno dos botões */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
}

.container{
display: flex;
justify-content: center;
gap: 20px;
align-items: center;
height: 50vh;
font-family: 'Montserrat';
font-size: 26px;
}

.subtitulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 23px;
    margin: 0pc;
}

.button-container {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    margin-top: -7%; 

}

.button {
    padding: 40px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #231f66;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.container-index{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 0px;
}



